* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #3b3b3b;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ececec;
}

a {
  text-decoration: none;
  transition: background-color 0.1s linear;

  &:hover {
    background-color: #e7e7e7;
  }
}

.wrap {
  max-width: 1200px;
  margin: auto;

  &-px {
    padding-left: 20px;
    padding-right: 20px;
  }

  &-py {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-xl {
    max-width: 900px;
  }

  &-sm {
    max-width: 600px;
  }

  &-xs {
    max-width: 400px;
  }
}

.logo {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;

  &:hover {
    background: none;
  }
}

.btn {
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  border: none;

  &:hover {
    background-color: #e7e7e7;
  }
}

hr {
  margin: 20px 0;
}

.active-element {
  transition: 0.1s background-color linear;
  &:hover {
    background-color: #e7e7e7;
  }
}

// data tables
.table-name,
.table-head {
  font-weight: 600;
}

.fields {
  display: grid;
  gap: 80px;

  > div {
    display: grid;
    gap: 10px;

    .field {
      display: flex;
      justify-content: space-between;

      .field-property {
        font-weight: 600;
      }

      .field-property,
      .field-value {
        white-space: nowrap;
      }

      .table-line {
        background-color: #000;
        width: 100%;
        height: 1px;
        align-self: flex-end;
        margin: 0 5px 4px 5px;
        opacity: 0.25;
      }
    }
  }
}

// grid cols span

.span-1 {
  grid-column: span 1;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

.span-7 {
  grid-column: span 7;
}

.span-8 {
  grid-column: span 8;
}

.span-9 {
  grid-column: span 9;
}

.span-10 {
  grid-column: span 10;
}

.span-11 {
  grid-column: span 11;
}

.span-12 {
  grid-column: span 12;
}
